*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(20, 139, 175));
  display: flex;
  justify-content: center;
}

.calculator {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 400px;
}

.display {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  padding: 10px;
  width: 400px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons > button {
  cursor: pointer;
  font-size: 24px;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100px;
  height: 100px;
  /* flex: 1 1 auto; */
}

.buttons > button:hover{
    background-color: rgba(255, 255, 255, 0.90);
}